#!/bin/bash

DOMAINS="{{ dehydrated_config_dir }}/domains.txt"
DEHYDRATED="{{ dehydrated_binary }}"
CALL="$DEHYDRATED -c -g"

RESULT=$($CALL)
RETURN=$?

OUTPUT=""

if [ "0${RETURN}" -ne "0" ]; then
    OUTPUT=$(printf '%s exited with %s\n\n%s\n' "$CALL" "$RETURN" "$RESULT")
fi

if [ -z "$OUTPUT" ]; then
    LTRG=$(( $( wc -l < "$DOMAINS" ) * 5 + 1 ))
    LEN=$(echo "$RESULT" | wc -l)
    if [ $LEN -gt $LTRG ]; then
        OUTPUT="$RESULT"
    fi
fi

if [ -n "$OUTPUT" ]; then
    echo "$OUTPUT"
{% if dehydrated_mail_to %}
    echo "$OUTPUT" | mail -s "{{ dehydrated_mail_subject_prefix }} Certificate renewal" "{{ dehydrated_mail_to }}"
{% endif %}
fi
