#!/bin/bash

SPAN={{ dehydrated_check_span }}

check_certs() {
    for pem in {{ dehydrated_certs_dir }}/*/cert.pem; do

        RET=$(openssl x509 -checkend $SPAN -noout -in $pem)
        RETURN=$?

        if [ "0${RETURN}" -ne "0" ]; then
            printf '%s: %s\n' \
                "$(date --date="$(openssl x509 -enddate -noout -in "$pem"|cut -d= -f 2)" --iso-8601)" \
                "$pem"
        fi
    done | sort
}

issues="$(check_certs)"

if [ -n "$issues" ]; then
    OUTPUT="Some certs will expire soon. Check dehydrated calls!

${issues}"
    echo "$OUTPUT"
{% if dehydrated_mail_to %}
    echo "$OUTPUT" | mail -s "{{ dehydrated_mail_subject_prefix }} Certificate expiry warning" "{{ dehydrated_mail_to }}"
{% endif %}
fi
